/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

/* #menu {
    text-align: center;
} */

/* Estilos para los botones */
/* button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    background-color: #3498db;
} */

/* Estilos adicionales para resaltar los botones al pasar el ratón */
/* button:hover {
    background-color: #4CAF50;  Un color verde para resaltar 
    color: white;
} */

@font-face {
    font-family: 'MiFuente'; 
    src: url('assets/Symtext.ttf') format('truetype'); 
}

body {
    margin: 0;
    font-family: 'MiFuente',  sans-serif; /*Utiliza el nombre asignado a la fuente en font-family*/
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#menu, #creditos, #ajustes {
    text-align: center;
    margin: 50px;
    width: 1088px;
    height: 768px;
    background-color: #fff; /*Color de fondo del menú y créditos*/
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /*Sombra alrededor del menú y créditos*/
    color: rgb(255, 255, 255);
}

#pausa {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

#menu{
    background-image: url('assets/fondoMenu.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

#creditos img {
    max-width: 110px; 
    max-height: 110px; 
    margin-top: 10px; 
    margin-bottom: 10px;
}

#menu button, #creditos button, #ajustes button, #pausa button {
  font-family: 'MiFuente', sans-serif;
  background-color: transparent;
  color: #ffffff;
  font-size: 17px;
  padding: 15px 50px;
  cursor: pointer;
  background-image: url('assets/fondobotones.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  height: auto;
  display: block;
  margin: 20px auto; /*Ajustado para centrar vertical y horizontalmente*/
  align-items: center; /*Centra los elementos horizontalmente*/
  justify-content: center; /*Centra los elementos verticalmente*/
}

#ajustes button{
    height: 5vh;
}

#creditos {
    /*display: none;*/
    background-image: url('assets/fondoCreditos.jpg'); 
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

#ajustes {
    margin-top: 50px;
    background-image: url('assets/fondoAjustes.png'); 
    background-size: cover;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 24px;
}

#listaCreditos {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /*Centra los elementos horizontalmente*/
    justify-content: center; /*Centra los elementos verticalmente*/
    height: 80%; /*Ocupa toda la altura disponibl*/
}

#listaCreditos li {
    font-size: 24px;
    margin-bottom: 10px;
}

/* button {
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 20px;
    cursor: pointer;
    background-image: url('assets/fondobotones.png');
    background-size: contain;
    border: none;
    border-radius: 5px;
    display: block;
    box-sizing: border-box; 
    height: auto; 
} */

#creditos button:hover, #menu button:hover, #ajustes button:hover, #pausa button:hover {
    background-color: #5e675e;  
    color: white;
} 

#sonido {
    position: relative; 
    overflow: hidden;
  }
  
#sonido img {
    max-width: 100%; 
    max-height: 100%; 
    width: auto; 
    height: auto; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
  }

  /*Estilo de la pantalla de carga*/
  #pantallaCarga {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .barraCarga {
    width: 0%;
    height: 20px;
    background-color: #4caf50;
    margin-top: 20px;
  }