body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#menu {
    text-align: center;
}

/* Estilos para los botones */
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    background-color: #3498db;
}

/* Estilos adicionales para resaltar los botones al pasar el ratón */
button:hover {
    background-color: #4CAF50; /* Un color verde para resaltar */
    color: white;
}